<div class="login-wrapper">
  <div class="login-card">

    <img src="../../assets/exma-logo-cropped.png" class="brand-logo">

    <h2 class="welcome-text">Welcome to Exma</h2>
    <p class="subtitle">Expense Management Simplified!</p>

    <div class="divider"><span>Login with</span></div>

    <button class="btn social-btn google" (click)="signInWithGoogle()">
      <img src="../../assets/google.png" alt="Google Logo" />
      <span>Continue with Google</span>
    </button>

    <button class="btn social-btn microsoft" (click)="signInWithMicrosoft()">
      <img src="../../assets/microsoft.png" alt="Microsoft Logo" />
      <span>Continue with Microsoft</span>
    </button>

  </div>
</div>